<h3>Submit New Link</h3>
<%= form_for @link do |f| %>
  Title: <%= f.text_field :title, id: "link_title" %><br />
  URL: <%= f.text_field :url, id: "link_url" %><br />
  <%= f.submit "Submit", id: "submit_link" %>
<% end %>

<h3>Your Links</h3>
<div id="links_list">
  <% @links.each do |link| %>
    <div class='link' data-id="<%= link.id %>" id="link-<%= link.id %>">
      <p class='link-title' contenteditable=true><%= link.title %></p>
      <p class='link-url' contenteditable=true><%= link.url %></p>

      <p class="link_read">
        <%= link.read %>
      </p>
      <p class="link_buttons">
        <button class="mark-read">Read</button>
        <button class="upgrade-quality">+</button>
        <button class="downgrade-quality">-</button>
        <button class='delete-link'>Delete</button>
      </p>
    </div>

      <!-- <p>Title: <%= link.title %><br /></p>
      <p>URL: <%= link.url %><br /></p>
      <p><%= link_to "Edit", edit_link_path(link) %></p> -->
  <% end %>
</div>
